* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body {
  margin: 0 auto;
  max-width: 1270px;
}

.content-text {
  margin: 0 auto;
}

.content-tile {
  background-color: #282828;
  box-sizing: border-box;
  border-radius: 24px;
  margin: 8px;
  min-height: 300px;
  width: 290px;
}

.content-tiles {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}

.content-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.cta-btn {
  background-color: #678fff;
}

.cta-header {
  font-size: 24px;
  margin: 0 auto;
  width: 500px;
}

.cta-subheader {
  font-size: 16px;
  font-weight: 400;
  margin: 24px auto;
  width: 500px;
}

.cta-wrap {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  max-width: 550px;
  text-align: center;
}

.curve {
  background-color: #58b792;
  border-radius: 60% 60% 0 0;
  height: 160px;
  margin-top: 24px;
  width: 100vw;
}

.curve-body {
  background-color: #58b792;
  height: auto;
  padding-bottom: 0;
  transform: translate(0, -80px);
  width: 100vw;
  z-index: 1;
}

.curve-btn {
  background-color: rgb(68, 68, 68, 0.5);
}

.curve-header {
  font-size: 36px;
  font-weight: 800;
  margin: 0 auto 24px;
  width: 600px;
}

.curve-text {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 300px;
  text-align: center;
  transform: translate(0 320px);
}

.curve-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  transform: translate(0, -250px);
  width: 100vw;
}

.default-btn {
  border: none;
  border-radius: 8px;
  color: #eee;
  font-weight: 600;
  height: 40px;
  margin: 24px auto;
  padding: 0 8px;
  width: 200px;
}

.faq-btn {
  background-color: #678fff;
}

.faq-header {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.header {
  background-color: gray;
  display: flex;
  align-items: center;
  height: 36px; /* Update when it will actually wrap around child elements */
  justify-content: flex-end;
  padding-bottom: 4px;
  padding-top: 4px;
  position: static;
  width: 100%;
  z-index: 199;
}

.header-wrap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1400px;
  padding: 24px;
  padding-bottom: 0;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 120px;
}

.logo-homepage {
  height: 140px;
  width: 120px;
}

.logo-text {
  display: block;
  font-size: 20px;

  text-align: center;
}

.logo-wrap {
  margin: 24px auto;
}

.main-text {
  font-size: 28px; /* Previously 36px */
  font-weight: 700;
  margin: 16px 0;
}

.monster-image {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 75px;
  transform: translate(0, 3px);
  width: 100%;
}

.nav-btn {
  background-color: lightgray;
  height: 28px;
  line-height: 28px;
  margin-right: 4px;
  padding: 4px;
  text-align: center;
  width: 45px;
  z-index: 200;
}

.search-bar {
  align-items: center;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 665px;
  width: 80%;
}

.search-input {
  background-color: lightgray;
  border: none;
  height: 35px;

  margin: 0;
  padding: 0;
}

.sub-text {
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0;
}

.tile-image {
  margin-top: 24px;
}

#search-btn {
  border-radius: 0 4px 1px 0;
  margin-left: 2px;

  text-align: center;
  width: 35px;
}

#search-field {
  border-radius: 1px 0 0 4px;
  padding-left: 4px;
  width: 80%;
}

@media screen and (max-width: 930px) {
  .content-tiles {
    flex-direction: column;
  }

  .content-wrap {
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
  }

  .cta-wrap {
    margin: 24px auto;
    width: 400px;
  }

  .curve {
    margin-top: 72px;
  }

  .curve-text {
    padding-top: 24px;
    width: 100vw;
  }

  .curve-wrap {
    transform: translate(0);
  }

  .main-text {
    max-width: 400px;
  }

  .sub-text {
    max-width: 400px;
  }
}

@media screen and (max-height: 400px) {
  .curve-header {
    font-size: 16px;
    margin: 24px auto;
    max-width: 250px;
  }
}
